/*---General---*/
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
    position: absolute;
    bottom: 0;
    max-width: 500px;
    left: 0;
    right: 0;
    margin: auto;
}

/*---Header---*/
.header-wrapper {
  background-color: #ebebeb;
}
.header {
  padding: 5%;
}
.title {
  margin: 0;
  text-align: center;
}
/*---Tabs---*/

input[type="radio"] {
  display: none;
}


input[type="radio"] ~ .tab {
  display: none;
}
#tab1:checked ~ .tab.content1,
#tab2:checked ~ .tab.content2,
#tab3:checked ~ .tab.content3,
#tab4:checked ~ .tab.content4,
#tab5:checked ~ .tab.content5 {
  display: block;
}

input[type="radio"] + label {
  display: inline-block;
  height: 20px;
  border: none;
  background: #ebebeb;
  position: relative;
  width: 40%;
  padding: 5%;
  text-align: center;
}

input[type="radio"]:checked + label {
  background: #fff;
  border: none;
}
input[type="radio"] ~ .tab {
  border: none;

}
